{% extends "layout.html" %}

{% block title %}
Latex Reference App - Bibtex form references
{% endblock %}

{% block body %}

<h2>References in bibtex form</h2>

<div>
    <h3>Export bibtex references</h3>
    <p>Download your references as a .bib file.</p>
    <form action="/exportBibtex" method="get">
        <button type="submit" class="button" id="exportBibtex">Download</button>
    </form>
</div>
<div>
    <h2>References</h2>
</div>
<div>
{% for reference in references %}
    <p>{{ reference|safe }}</p>
{% endfor %}
</div>

{% endblock %}