{% extends "layout.html" %}

{% block title %}
Latex Reference App - References
{% endblock %}

{% block body %}
<h2>Edit Reference</h2>

<div>
    {% if message %}
    {{ message }}
    {% endif %}
</div>

<div>
    <form method="post" action="/edit/{{ reference['citation_key'] }}" style="margin-left: 10px;">
        <label for="chosen_ref">Reference Type:</label>
        {{ ref_type | capitalize }}
        <!-- {{ ref_id }} -->
        <div id="form-fields">
            {% for column in columns %}
                {% if column['name'] != 'id' %}
                    <label for="{{ column['name'] }}">{{ column['name'] | capitalize }}</label>
                    <input 
                        type="{{ 'number' if column['name'] in ['year', 'volume', 'number'] else 'text' }}" 
                        name="{{ column['name'] }}" 
                        id="{{ column['name'] }}" 
                        value="{{ reference[column['name']] or '' }}" 
                        {% if column['required'] %}required{% endif %}>
                    <br>
                {% endif %}
            {% endfor %}
        </div>
        <div id="tag-container" style="margin-bottom: 15px;">
            <label for="tag-input">Tags:</label>
            <input type="hidden" id="tags-hidden" name="tags" value="{{ tags | tojson }}">
            <input type="text" id="tag-input" placeholder="Add a tag and press enter">
            <div id="tags-wrapper">
                {% for tag in tags %}
                    <span style="margin-right: 5px; display: inline-block;">
                        {{ tag }}
                        <button 
                            style="margin-left: 5px; border: none; background: none; cursor: pointer; color: red;" 
                            type="button" 
                            onclick="removeTag('{{ tag }}')"
                        >
                            x
                        </button>
                    </span>
                {% endfor %}
            </div>
        </div>        
        <input type="submit" class="button" value="Save Changes">
    </form>
</div>

{% endblock %}
