{% extends "layout.html" %}

{% block title %}
Latex Reference App - Homepage
{% endblock %}

{% block body %}

<h2>Latex Reference App</h2>

<p>
Welcome to Latex reference app! <br>
Here you can create references that we'll transform to bibtex form for you. <br>
<br>
To create references, work as follows: <br>
1. Go to "Add new reference" <br>
2. Add all the information about your reference<br>
3. After saving the reference you can see, edit and delete your references from "Added references" <br>
4. Go to "Added references in bibtex form" to download your references as bibtex file 

</p>
<div>
    {% if message %}
    {{ message }}
    {% endif %}
</div>

{% endblock %}