{% extends "layout.html" %}

{% block title %}
Latex viite sovellus
{% endblock %}

{% block body %}

<h2>Latex reference app</h2>

<div>
    {% if message %}
    {{ message }}
    {% endif %}
</div>

<div>
    <form method="post" action="/create_reference" style="margin-left: 10px;">
        <label for="chosen_ref">Choose a reference:</label>
        <select name="chosen_ref" id="chosen_ref">
            <option value="article">Article</option>
            <option value="book">Book</option>
            <option value="inproceedings">Inproceedings</option>
            <!-- MUut referenssit tähän -->
        </select><br>
        <!-- TODO: automaattinen formin inputtien vaihto.
            Nyt kenttiä täytyy muuttaa siten minkä referenssin valitsee jotta sen voi lisätä.
         -->
        <label for="citation_key"> Citation key </label>
        <input type="text" name="citation_key" required></input><br>

        <label for="author"> author </label>
        <input type="text" name="author" required></input><br>

        <label for="title"> Title </label>
        <input type="text" name="title" required></input><br>


        <label for="booktitle"> Book title </label>
        <input type="text" name="booktitle" required></input><br>

        <label for="publisher"> Publisher </label>
        <input type="text" name="publisher" required></input><br>

        <label for="journal"> Journal </label>
        <input type="text" name="journal" required></input><br>

        <label for="year"> Year </label>
        <input type="number" name="year" required></input><br>

        <!-- Vapaaehtoiset -->
        <label for="volume"> Volume </label>
        <input type="number" name="volume"></input><br>

        <label for="number"> Number </label>
        <input type="number" name="number"></input><br>

        <label for="pages"> Pages </label>
        <input type="text" name="pages"></input><br>

        <label for="month"> Month </label>
        <input type="text" name="month"></input><br>

        <label for="note"> Note </label>
        <input type="text" name="note"></input><br>

        <label for="DOI"> DOI </label>
        <input type="text" name="DOI"></input><br>
        <!-- Vapaaehtoiset end -->

        <input type="submit" value="Add reference">
    </form>
</div>

<div>
    <a href="/get_reference">Added references</a>
    <br>
    <a href="/bib_references">Added references in bibtext form</a>
</div>

{% endblock %}