
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/main.css" />
  </head>

  <div class="topnav">
    <a href="/">Homepage</a>
    <a href="/get_reference">Added references</a>
    <a href="/bib_references">Added references in bibtex form</a>
    <a href="/add_reference">Add new reference</a>
  </div>
  </head>

  <body>
    {% block body %}{% endblock %}
  </body>
</html>
