{% extends "layout.html" %}

{% block title %}
Latex Reference App - References
{% endblock %}

{% block body %}

<h2>References</h2>

<form action="/search" method="POST">
    <input type="text" name="query"><input type="submit" class="button" value="Hae">
</form>

<div>
    {% for reference in references %}
        <div>
            <!-- hakee citation key ensimmäisestä indeksistä-->
            {% set ref_id = reference.split(',')[0] %}
            {% set citation_key = reference.split(', ')[1] %}
            {{ citation_key }}
            <!-- poistaa citation key näkymästä poistamalla sen reference details muuttujaan. -->
            {% set reference_details = reference.split(',', 2)[2] %}
            <h3>{{ reference_details | safe }}</h3>
            <form action="/edit/{{ ref_id }}" method="get">
                <button type="submit" class="button" id="edit/{{ ref_id }}">Edit ref</button>
            </form>
            <form action="/delete/{{ ref_id }}" method="post">
                <button type="submit" class="button" id="{{ citation_key }}">Delete</button>
            </form>
        </div>
    {% endfor %}
</div>

{% endblock %}
