{% extends "layout.html" %}

{% block title %}
Latex Reference App - References
{% endblock %}

{% block body %}

<h2>References</h2>
<div>
    <a href="/add_reference">Add new reference</a>
    <br>
    <a href="bib_references">Added references in bibtex form</a>
    <br>
    <a href="/">Homepage</a>
</div>

<div>
    {% for reference in references %}
        <div>
            <!-- hakee citation key ensimmäisestä indeksistä-->
            {% set citation_key = reference.split(',')[0] %}
            <!-- poistaa citation key näkymästä poistamalla sen reference details muuttujaan. -->
            {% set reference_details = reference.split(',', 1)[1] %}
            <h3>{{ reference_details }}</h3>
            <form action="/edit/{{ citation_key }}" method="get">
                <button type="submit" id="{{ citation_key }}">Edit ref</button>
            </form>
            <form action="/delete/{{ citation_key }}" method="post">
                <button type="submit" id="{{ citation_key }}">Delete</button>
            </form>
        </div>
    {% endfor %}
</div>


{% endblock %}
